<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Loja</title>
 <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<%- include("menu.html") -%>
  <center>
      <div id="main">
          <h1>Blacklight Store</h1>
      <p>A loja da mary & serviços da blacklight!</p>
      <a href="https://discord.gg/9yKbEyrdgm">
          <button>Discord</button>
      </a>
      <a href="https://loja.blacklight.net.br/products">
          <button>Produtos</button>
      </a>
      </div>
  </center>
</body>
</html>
