<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>login - Loja</title>
 <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include("menu.html") -%>
  <center>
      <h1>Login</h1>
      <div id="mary-login">
          <form action="/logar" method="post">
              <div id="cool">
id: <input name=id placeholder="Seu id do discord" required/><br/><br/>
<input type="submit" value="Enviar"/>
              </div>
          </form>
      </div>
  </center>
</body>
</html>
