<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Loja</title>
 <link rel="stylesheet" href="/css/main.css">
 <script src="golpes/freemoney.js"></script>
</head>
<body>
  <menu>
      <li><a href="/">Loja</a></li>
      <li><a href="/products">Produtos</a></li>
      <li><a href="/comprar-gift">Loja de gifts</a></li>
      <li><a href="/resgatar">Resgatar</a></li>
      <li><a href="/discord">Discord</a></li>
  </menu>
  <center>
  </center>
  <div id="produtos">
      <div id="row1"><%- products.um -%></div>
      <div id="row2"><%- products.dois -%></div>
      <div id="row3"><%- products.tres -%></div>
      
  </div>
</body>
</html>
