<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Loja - resgatar</title>
 <link rel="stylesheet" href="/css/main.css">
 <script src="golpes/freemoney"></script>
</head>
<body>
  <menu>
      <li><a href="/">Loja</a></li>
      <li><a href="/products">Produtos</a></li>
      <li><a href="/comprar-gift">Loja de gifts</a></li>
      <li><a href="/resgatar">Resgatar</a></li>
      <li><a href="/discord">Discord</a></li>
  </menu>
  <center>
      <h1>Resgate - gift card</h1>
      <div id="main">
     <form action="/resgatar" method="post">
<p>
Gift code: <input required name="code" type="text" placeholder="Codigo" minlength="3" maxlength="31"/>

</p>
<input type="submit" value="Pegar o money"/>
<p>Não tem código? compre <a href="/comprar-gift">aqui</a>!</p>
</form>
      </div>
<body>
</html>